@{
    ViewData["Title"] = "Course Page";
    Layout = "_Layout";
}
@model List<Course>
    <div class="row blok mt-5">
        <div class="col-xs-11">
            <div class="box data-table">
                <div class="box-header position-relative table-header mt-2">
                    <div class="d-flex justify-content-between mt-3 mx-4 com-header">
                        <h3>Course</h3>
                        <a asp-controller="course" asp-action="addcourses">
                            <span class="btn btn-success"><i class="las la-plus"></i>Add Course</span>
                        </a>
                    </div>
                </div>
                <div class="jadval box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Duration</th>
                            <th>Description</th>
                            <th style="text-align:center;">Action</th>
                        </tr>
                    @foreach(var item in Model)
                    {
                     <tr>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            @{
                                string imageSource = @item.Image;
                                if (!imageSource.Contains("http"))
                                {
                                    imageSource = "~/images/" + imageSource;
                                }
                                else if  (imageSource.Contains("ilyosbek"))
                                {
                                    string[] vs = imageSource.Split(new string[] {"https://ilyosbek.uz/rtm/images/"}, StringSplitOptions.None);
                                    imageSource = "~/images/" + vs[1];
                                }
                            }
                            <td><img src="@imageSource" asp-append-version="true" style="width: 50px;"/></td>
                            <td>@item.Duration</td>
                            <td>
                                @{
                                    string text = item.Description;
                                    if (text.Length > 15)
                                    {
                                       text = item.Description.Substring(0, 15);
                                    }
                                }
                                @text...
                            </td>
                            
                            <td class="cell">
                                <a asp-controller="course" asp-action="edit" asp-route-id="@item.Id">
                                    <span class="btn btn-success">Tahrirlash</span>
                                </a>
                                 <a asp-controller="course" asp-action="delete" asp-route-id="@item.Id"
                                    onclick="return confirm('Rostdan ham o\'chirmoqchisiz?');" class="btn btn-danger">O'chirish
                                </a>                      
                            </td>
                    </tr>   
                    }
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
