@{
    ViewData["Title"] = "Edite Staff Page";
    Layout = "_Layout";
}
@model EditTeacherViewModel

            <div class="box-header position-relative table-header mt-2">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Yangi mentor qo'shish</h3>
                </div>
            </div>
            <form asp-controller="teacher" asp-action="edit" enctype="multipart/form-data">
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="FirstName">Ism</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="title" value="@Model.FirstName">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="LastaName">Familya</label>
                    <input asp-for="LastaName" type="text" class="form-control" id="title" value="@Model.LastaName">
                </div>
                 <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Skills">Skills</label>
                    <textarea asp-for="Skills" class="form-control" id="description" rows="6">@Model.Skills</textarea>
                </div>
                <input type="hidden" asp-for="Image" value="@Model.Image"/>
                    @{
                        string imageSource = @Model.Image;
                        if (!imageSource.Contains("http"))
                        {
                            imageSource = "~/images/" + imageSource;
                        }
                        else if  (imageSource.Contains("ilyosbek"))
                        {
                            string[] vs = imageSource.Split(new string[] {"https://ilyosbek.uz/rtm/images/"}, StringSplitOptions.None);
                            imageSource = "~/images/" + vs[1];
                        }
                    }

                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="@Model.Image">Hodim rasmi</label> <br />
                    <img src="@imageSource" style="width: 200px;" asp-for="@Model.Image" asp-append-version="true"/>
                </div>
                <label asp-for="NewImage" class="mx-4" style="padding: 10px; font-size: 18px;">Yangi rasm tanlash</label>
                <div class="input-group mx-4" style="padding: 10px; font-size: 18px;">
                    <input type="file" asp-for="NewImage" accept="image/*" class="form-control" id="inputGroupFile02">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Experince">Familya</label>
                    <input asp-for="Experince" type="text" class="form-control" id="title" value="@Model.Experince">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Social">Familya</label>
                    <input asp-for="Social" type="text" class="form-control" id="title" value="@Model.Social">
                </div>
                @*Save, Cancel Button*@
                    <div class="button-group text-center">
                    <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                        Saqlash
                    </button>
                    <a asp-controller="teacher" asp-action="teachers">
                        <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
                    </a>
                </div>
            </form>