@{
    ViewData["Title"] = "AddService Page";
    Layout = "_Layout";
}
@model EditServiceViewModel

            <div class="box-header position-relative table-header pt-4">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Xizmat ma'lumotlarini o'zgartirish</h3>
                </div>
            </div>
            <form asp-controller="service" asp-action="edit" enctype="multipart/form-data" method="post">
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <select class="form-select mx-4" asp-for="ServiceType"  style="padding: 10px; font-size: 18px;" aria-label="Default select example">
                @{
                    if (Model.ServiceType == "Ijara")
                    {
                        <option>Xizmat ko'rsatish</option>
                        <option selected>Ijara</option>
                    }
                    else
                    {
                        <option selected>Xizmat ko'rsatish</option>
                        <option>Ijara</option>
                    }
                }
                    </select>
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Name">Nomi</label>
                    <input asp-for="Name" type="text" class="form-control" id="title" value="@Model.Name">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Price">Narxi</label>
                    <input asp-for="Price" type="text" class="form-control" id="title" value="@Model.Price">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="LifeTimeService">Davomiyligi</label>
                    <input asp-for="LifeTimeService" type="text" class="form-control" id="title" value="@Model.LifeTimeService">
                </div>
                <input type="hidden" asp-for="Image" value="@Model.Image"/>
                @{
                    string imageSource = @Model.Image;
                    if (!imageSource.Contains("http"))
                    {
                        imageSource = "~/images/" + imageSource;
                    }
                    else if  (imageSource.Contains("ilyosbek"))
                    {
                        string[] vs = imageSource.Split(new string[] {"https://ilyosbek.uz/rtm/images/"}, StringSplitOptions.None);
                        imageSource = "~/images/" + vs[1];
                    }
                }

                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="@Model.Image">Kurs rasmi</label> <br />
                    <img src="@imageSource" style="width: 200px;" asp-for="@Model.Image" asp-append-version="true"/>
                </div>
                <label asp-for="NewImage" class="mx-4" style="padding: 10px; font-size: 18px;">Yangi rasm tanlash</label>
                <div class="input-group mx-4" style="padding: 10px; font-size: 18px;">
                    <input type="file" asp-for="NewImage" accept="image/*" class="form-control" id="inputGroupFile02">
                </div>
                    <div class="button-group text-center my-5">
                    <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                        Saqlash
                    </button>
                    <a asp-controller="service" asp-action="services">
                        <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
                    </a>
                </div>
            </form>