@{
    ViewData["Title"] = "AddCourse Page";
    Layout = "_Layout";
}
@model EditLeaderViewModel

            <div class="box-header position-relative table-header pt-4">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Kurs ma'lumotlarini o'zgartirish</h3>
                </div>
            </div>
            <form asp-controller="leader" asp-action="editleader" enctype="multipart/form-data">
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="FirstName">Ism</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="title" value="@Model.FirstName">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="LastName">Familya</label>
                    <input asp-for="LastName" type="text" class="form-control" id="title" value="@Model.LastName">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Position">Lavozimi</label>
                    <input asp-for="Position" type="text" class="form-control" id="title" value="@Model.Position">
                </div>
                <input type="hidden" asp-for="Image" value="@Model.Image"/>
                    @{
                        string imageSource = @Model.Image;
                        if (!imageSource.Contains("http"))
                        {
                            imageSource = "~/images/" + imageSource;
                        }
                        else if  (imageSource.Contains("ilyosbek"))
                        {
                            string[] vs = imageSource.Split(new string[] {"https://ilyosbek.uz/rtm/images/"}, StringSplitOptions.None);
                            imageSource = "~/images/" + vs[1];
                        }
                    }

                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="@Model.Image">Lider rasmi</label> <br />
                    <img src="@imageSource" style="width: 200px;" asp-for="@Model.Image" asp-append-version="true"/>
                </div>
                <label asp-for="NewImage" class="mx-4" style="padding: 10px; font-size: 18px;">Yangi rasm tanlash</label>
                <div class="input-group mx-4" style="padding: 10px; font-size: 18px;">
                    <input type="file" asp-for="NewImage" accept="image/*" class="form-control" id="inputGroupFile02">
                </div>
                    <div class="button-group text-center my-5">
                    <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                        Saqlash
                    </button>
                    <a asp-controller="leader" asp-action="leaders">
                        <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
                    </a>
                </div>
            </form>